.windowTitle {
    width: 500px;
    margin: 0 auto
}

.windowBody{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.inputBox{
    max-width: 300px;
    max-height: 200px;
    padding: 2rem;
}