.windowTitle {
    width: 500px;
    margin: 0 auto
}

.windowBody{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.inputBox{
    resize: none;
    width: 200px;
    margin-bottom: 2rem;
}